addict
certifi
cycler
Cython
joblib
kiwisolver
lapsolver
matplotlib
mkl-fft
mkl-random
mkl-service
mmcv
numpy
olefile
opencv-python
pandas
Pillow
pyparsing
python-dateutil
pytz
PyYAML
scikit-learn
scipy
Shapely
six
sklearn
terminaltables
tqdm
yacs
